In [1]:
!pip install bs4
!pip install requests

Collecting bs4
  Downloading bs4-0.0.1.tar.gz (1.1 kB)
Requirement already satisfied: beautifulsoup4 in c:\users\jyoti\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in c:\users\jyoti\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)
Building wheels for collected packages: bs4
  Building wheel for bs4 (setup.py): started
  Building wheel for bs4 (setup.py): finished with status 'done'
  Created wheel for bs4: filename=bs4-0.0.1-py3-none-any.whl size=1277 sha256=41f0c5b606f8dfd206445e8ee7cdc6e73c7904b09a5d4d92c93da622f9f32449
  Stored in directory: c:\users\jyoti\appdata\local\pip\cache\wheels\75\78\21\68b124549c9bdc94f822c02fb9aa3578a669843f9767776bca
Successfully built bs4
Installing collected packages: bs4
Successfully installed bs4-0.0.1
Requirement already satisfied: requests in c:\users\jyoti\anaconda3\lib\site-packages (2.24.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jyoti\anaconda3\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\jyoti\anaconda3\lib\site-packages (from requests) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\jyoti\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\jyoti\anaconda3\lib\site-packages (from requests) (2.10)

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

#### 1. Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [55]:
page=requests.get("https://en.wikipedia.org/wiki/Main_Page")
page

In [56]:
soup=BeautifulSoup(page.content)

In [57]:
header=soup.find_all('span',class_="mw-headline")

In [58]:
headerList=[]
for i in header:
    headerList.append(i.text)
headerList

["From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

#### 2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame.

In [64]:
page=requests.get("https://www.imdb.com/chart/top/?ref_=nv_mv_250")
page

In [65]:
soup=BeautifulSoup(page.content)

In [66]:
imdb_movies=soup.find_all('td',class_="titleColumn")

In [67]:
imdb_movie_name=[]
for i in imdb_movies:
    for j in i.find_all('a'):
        imdb_movie_name.append(j.text.replace('\n',''))

In [68]:
imdb_movie_year=[]
for i in imdb_movies:
    for j in i.find_all('span'):
        imdb_movie_year.append(j.text.replace('\n',''))

In [69]:
imdb_movies_ratings=soup.find_all('td',class_="ratingColumn imdbRating")

In [70]:
imdb_movie_rating=[]
for i in imdb_movies_ratings:
        imdb_movie_rating.append(i.text.replace('\n',''))

In [71]:
import pandas as pd
imdb=pd.DataFrame({})
imdb['Movie Name']=imdb_movie_name[0:100]
imdb['Release Year']=imdb_movie_year[0:100]
imdb['Ratings']=imdb_movie_rating[0:100]
imdb

                               Movie Name Release Year Ratings
0                The Shawshank Redemption       (1994)     9.2
1                           The Godfather       (1972)     9.1
2                  The Godfather: Part II       (1974)     9.0
3                         The Dark Knight       (2008)     9.0
4                            12 Angry Men       (1957)     8.9
..                                    ...          ...     ...
95                    Singin' in the Rain       (1952)     8.3
96                     North by Northwest       (1959)     8.3
97  Eternal Sunshine of the Spotless Mind       (2004)     8.3
98                           Idi i smotri       (1985)     8.3
99                    Ladri di biciclette       (1948)     8.3

[100 rows x 3 columns]

#### 3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame.

In [72]:
page=requests.get("https://www.imdb.com/india/top-rated-indian-movies/?pf_rd_m=A2FGELUUNOQJNL&pf_rd_p=2e9dfa9b-3e4d-4d39-acd2-8af11f252a59&pf_rd_r=ASSD90VRYJGTMDPGZ8E1&pf_rd_s=right-5&pf_rd_t=15506&pf_rd_i=top&ref_=chttp_india_tr_rhs_1")
page

In [73]:
soup=BeautifulSoup(page.content)

In [74]:
imdb_indian=soup.find_all('td',class_="titleColumn")

In [75]:
imdb_indian_movie=[]
for i in imdb_indian:
    for j in i.find_all('a'):
        imdb_indian_movie.append(j.text.replace('\n',''))

In [76]:
imdb_releaseYear=[]
for i in imdb_indian:
    for j in i.find_all('span'):
        imdb_releaseYear.append(j.text.replace('\n',''))

In [77]:
imdb_movies_ratings=soup.find_all('td',class_="ratingColumn imdbRating")

In [78]:
imdb_movie_rating=[]
for i in imdb_movies_ratings:
        imdb_movie_rating.append(i.text.replace('\n',''))

In [79]:
Imdb_indian=pd.DataFrame({})
Imdb_indian['Movie Name']=imdb_indian_movie[0:100]
Imdb_indian['Release Year']=imdb_releaseYear[0:100]
Imdb_indian['Rating']=imdb_movie_rating[0:100]

Imdb_indian

                  Movie Name Release Year Rating
0            Pather Panchali       (1955)    8.5
1                    Nayakan       (1987)    8.5
2                 Anbe Sivam       (2003)    8.5
3          Pariyerum Perumal       (2018)    8.5
4                 Drishyam 2       (2021)    8.5
..                       ...          ...    ...
95                Chhichhore       (2019)    8.1
96  Uri: The Surgical Strike       (2018)    8.1
97                 Virumandi       (2004)    8.1
98                        PK       (2014)    8.1
99                     Iqbal       (2005)    8.1

[100 rows x 3 columns]

#### 4. Write a python program to scrap book name, author name, genre and book review of any 5 books from ‘www.bookpage.com’

In [80]:
page=requests.get("https://bookpage.com/reviews")
page

In [81]:
soup=BeautifulSoup(page.content)

In [82]:
book=soup.find_all('div',class_="flex-article-content")

In [83]:
import numpy as np
book_detail=[]
for i in book:
    cols=i.find_all('a')
    name=i.find_all('p')
    genre=i.find_all('p',class_="genre-links hidden-phone")
    book_detail.append((cols[0].text.strip(),name[0].text.strip(),genre[0].text.replace('\n','')))
    
book_array = np.asarray(book_detail)    
df = pd.DataFrame(book_array[0:5])    
df

,0,1,2
0,Heaven,"Mieko Kawakami, Sam Bett, David Boyd",Fiction / Coming of Age
1,The Guncle,Steven Rowley,Fiction / Family Drama
2,The Coming Storm,Regina M. Hansen,YA / YA Fiction
3,★ Instructions for Dancing,Nicola Yoon,YA / YA Fiction
4,Super Fly,Jonathan Balcombe,Nonfiction / Science & Nature / Animals

In [84]:
review_url=soup.find_all('div',class_="read-full")

In [87]:
url=[]
for i in review_url:
    for j in i.find_all('a'):
        url.append(j['href'])

In [88]:
book_review=[]
for i in url[0:5]:
    book=requests.get('https://www.bookpage.com'+i)
    soup=BeautifulSoup(book.content)
    review=soup.find_all('div',class_='article-body')
    for j in review:
        rev=j.find_all('p')
        book_review.append(rev[1].text.replace('\n',''))

In [89]:
df['Review']=book_review

In [90]:
df.columns=['Book Name','Author','Genre','Review']
df

,Book Name,Author,Genre,Review
0,Heaven,"Mieko Kawakami, Sam Bett, David Boyd",Fiction / Coming of Age,"If you are an avid reader, you might have been..."
1,The Guncle,Steven Rowley,Fiction / Family Drama,At the beginning of Steven Rowley’s third nove...
2,The Coming Storm,Regina M. Hansen,YA / YA Fiction,"For more than a century, thanks to L.M. Montgo..."
3,★ Instructions for Dancing,Nicola Yoon,YA / YA Fiction,Evie used to believe in love. She has bookshel...
4,Super Fly,Jonathan Balcombe,Nonfiction / Science & Nature / Animals,"Without flies, there would be no chocolate. Bi..."

#### 5.1 Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [122]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi")
page

In [124]:
soup=BeautifulSoup(page.content)

In [161]:
top=soup.find('tr',class_='rankings-block__banner')

In [150]:
team_ranking=[]
for i in top:
    name=i.find('span',class_='u-hide-phablet')
    matches=i.find('td',class_='rankings-block__banner--matches')
    points=i.find('td',class_='rankings-block__banner--points')
    rating=i.find('td',class_='rankings-block__banner--rating u-text-right')
    team_ranking.append((name.text.replace('\n',''),matches.text.replace('\n',''),points.text.replace('\n',''),rating.text.strip()))

In [162]:
odi=soup.find_all('tr',class_='table-body')

In [156]:
for i in odi:
    name=i.find('span',class_='u-hide-phablet')
    matches=i.find('td',class_='table-body__cell u-center-text')
    points=i.find('td',class_='table-body__cell u-center-text')
    rating=i.find('td',class_='table-body__cell u-text-right rating')
    team_ranking.append((name.text.replace('\n',''),matches.text.replace('\n',''),points.text.replace('\n',''),rating.text.strip()))

In [160]:
df=pd.DataFrame(team_ranking[0:10])
df.columns=['Team','Matches','Points','Rating']
df

           Team Matches Points Rating
0   New Zealand      17  2,054    121
1     Australia      25     25    118
2         India      29     29    115
3       England      27     27    115
4  South Africa      20     20    107
5      Pakistan      24     24     97
6    Bangladesh      25     25     91
7   West Indies      27     27     82
8     Sri Lanka      22     22     77
9   Afghanistan      17     17     62

#### 5.2 Top 10 ODI Batsmen in men along with the records of their team and rating

In [5]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/Batting")
page

In [6]:
soup=BeautifulSoup(page.content)

In [15]:
player1=soup.find_all('div',class_='rankings-block__banner--name-large')
player=[]
for i in player1:
    player.append(i.text)  
    
player2=soup.find_all('td',class_='table-body__cell rankings-table__name name')
for i in player2:
    for j in i.find_all('a'):
        player.append(j.text.strip())

In [26]:
country1=soup.find_all('div',class_='rankings-block__banner--nationality')
country=[]
for i in country1:
    country.append(i.text.strip())
country2=soup.find_all('span',class_='table-body__logo-text')
for i in country2:
    country.append(i.text.strip())

In [30]:
rating1=soup.find_all('div',class_='rankings-block__banner--rating')
rating=[]
for i in rating1:
    rating.append(i.text.strip())
rating2=soup.find_all('td',class_='table-body__cell rating')
for i in rating2:
    rating.append(i.text.strip())

In [34]:
Top_Batsmen=pd.DataFrame()
Top_Batsmen['Name']=player[0:10]
Top_Batsmen['Country']=country[0:10]
Top_Batsmen['Rating']=rating[0:10]
Top_Batsmen

                  Name Country Rating
0           Babar Azam     PAK    865
1          Virat Kohli     IND    857
2         Rohit Sharma     IND    825
3          Ross Taylor      NZ    801
4          Aaron Finch     AUS    791
5       Jonny Bairstow     ENG    785
6         Fakhar Zaman     PAK    778
7  Francois du Plessis      SA    778
8         David Warner     AUS    773
9            Shai Hope      WI    773

#### 5.3 Top 10 ODI bowlers along with the records of their team and rating

In [35]:
page=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')
page

In [38]:
soup=BeautifulSoup(page.content)

In [42]:
player1=soup.find_all('div',class_='rankings-block__banner--name-large')
player=[]
for i in player1:
    player.append(i.text.strip())
player2=soup.find_all('td',class_='table-body__cell rankings-table__name name')
for i in player2:
    for j in i.find_all('a'):
        player.append(j.text.strip())

In [46]:
country1=soup.find_all('div',class_='rankings-block__banner--nationality')
country=[]
for i in country1:
    country.append(i.text.strip())
country2=soup.find_all('span',class_='table-body__logo-text')
for i in country2:
    country.append(i.text.strip())

In [49]:
rating1=soup.find_all('div',class_='rankings-block__banner--rating')
rating=[]
for i in rating1:
    rating.append(i.text.strip())
rating2=soup.find_all('td',class_='table-body__cell rating')
for i in rating2:
    rating.append(i.text.strip())

In [51]:
Top_Bowlers=pd.DataFrame()
Top_Bowlers['Name']=player[0:10]
Top_Bowlers['Country']=country[0:10]
Top_Bowlers['Rating']=rating[0:10]
Top_Bowlers

               Name Country Rating
0       Trent Boult      NZ    737
1  Mujeeb Ur Rahman     AFG    708
2        Matt Henry      NZ    691
3    Jasprit Bumrah     IND    690
4      Mehedi Hasan     BAN    668
5     Kagiso Rabada      SA    666
6      Chris Woakes     ENG    665
7    Josh Hazlewood     AUS    660
8       Pat Cummins     AUS    646
9     Mohammad Amir     PAK    638

#### 6.1 Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [2]:
page=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
page

In [3]:
soup=BeautifulSoup(page.content)

In [7]:
top=soup.find_all('tr',class_='rankings-block__banner')

In [10]:
team_ranking=[]
for i in top:
    name=i.find('span',class_='u-hide-phablet')
    matches=i.find('td',class_='rankings-block__banner--matches')
    points=i.find('td',class_='rankings-block__banner--points')
    rating=i.find('td',class_='rankings-block__banner--rating u-text-right')
    team_ranking.append((name.text.replace('\n',''),matches.text.replace('\n',''),points.text.replace('\n',''),rating.text.strip()))

In [11]:
odi=soup.find_all('tr',class_='table-body')

In [12]:
for i in odi:
    name=i.find('span',class_='u-hide-phablet')
    matches=i.find('td',class_='table-body__cell u-center-text')
    points=i.find('td',class_='table-body__cell u-center-text')
    rating=i.find('td',class_='table-body__cell u-text-right rating')
    team_ranking.append((name.text.replace('\n',''),matches.text.replace('\n',''),points.text.replace('\n',''),rating.text.strip()))

In [13]:
df=pd.DataFrame(team_ranking[0:10])
df.columns=['Team','Matches','Points','Rating']
df

           Team Matches Points Rating
0     Australia      18  2,955    164
1  South Africa      24     24    118
2       England      17     17    117
3         India      20     20    111
4   New Zealand      21     21     93
5   West Indies      12     12     85
6      Pakistan      15     15     73
7    Bangladesh       5      5     61
8     Sri Lanka      11     11     47
9       Ireland       2      2     13

#### 6.2 Top 10 women’s ODI players along with the records of their team and rating.

In [14]:
page=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')
page

In [15]:
soup=BeautifulSoup(page.content)

In [16]:
player1=soup.find_all('div',class_='rankings-block__banner--name-large')
player=[]
for i in player1:
    player.append(i.text)  
    
player2=soup.find_all('td',class_='table-body__cell rankings-table__name name')
for i in player2:
    for j in i.find_all('a'):
        player.append(j.text.strip())

In [17]:
country1=soup.find_all('div',class_='rankings-block__banner--nationality')
country=[]
for i in country1:
    country.append(i.text.strip())
country2=soup.find_all('span',class_='table-body__logo-text')
for i in country2:
    country.append(i.text.strip())

In [18]:
rating1=soup.find_all('div',class_='rankings-block__banner--rating')
rating=[]
for i in rating1:
    rating.append(i.text.strip())
rating2=soup.find_all('td',class_='table-body__cell rating')
for i in rating2:
    rating.append(i.text.strip())

In [20]:
Top_Player=pd.DataFrame()
Top_Player['Name']=player[0:10]
Top_Player['Country']=country[0:10]
Top_Player['Rating']=rating[0:10]
Top_Player

                Name Country Rating
0     Tammy Beaumont     ENG    765
1        Lizelle Lee      SA    758
2       Alyssa Healy     AUS    756
3    Stafanie Taylor      WI    746
4        Meg Lanning     AUS    723
5  Amy Satterthwaite      NZ    715
6    Smriti Mandhana     IND    710
7        Mithali Raj     IND    709
8     Natalie Sciver     ENG    685
9    Laura Wolvaardt      SA    683

#### 6.3 Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [21]:
page=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')
page

In [22]:
soup=BeautifulSoup(page.content)

In [23]:
player1=soup.find_all('div',class_='rankings-block__banner--name-large')
player=[]
for i in player1:
    player.append(i.text)  
    
player2=soup.find_all('td',class_='table-body__cell rankings-table__name name')
for i in player2:
    for j in i.find_all('a'):
        player.append(j.text.strip())

In [24]:
country1=soup.find_all('div',class_='rankings-block__banner--nationality')
country=[]
for i in country1:
    country.append(i.text.strip())
country2=soup.find_all('span',class_='table-body__logo-text')
for i in country2:
    country.append(i.text.strip())

In [25]:
rating1=soup.find_all('div',class_='rankings-block__banner--rating')
rating=[]
for i in rating1:
    rating.append(i.text.strip())
rating2=soup.find_all('td',class_='table-body__cell rating')
for i in rating2:
    rating.append(i.text.strip())

In [26]:
Top_AllRounder=pd.DataFrame()
Top_AllRounder['Name']=player[0:10]
Top_AllRounder['Country']=country[0:10]
Top_AllRounder['Rating']=rating[0:10]
Top_AllRounder

               Name Country Rating
0    Marizanne Kapp      SA    418
1      Ellyse Perry     AUS    418
2   Stafanie Taylor      WI    410
3    Natalie Sciver     ENG    349
4     Deepti Sharma     IND    343
5     Jess Jonassen     AUS    307
6  Ashleigh Gardner     AUS    252
7  Dane van Niekerk      SA    243
8     Sophie Devine      NZ    242
9       Amelia Kerr      NZ    236

#### 7. Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

In [35]:
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.36'
}

In [36]:
page=requests.get('https://www.amazon.in/s?bbn=1389401031&rh=n%3A1389401031%2Cp_36%3A1318506031&dc&qid=1622441062&rnid=1318502031&ref=lp_1389401031_nr_p_36_3',headers=headers)
page

In [37]:
soup=BeautifulSoup(page.content)

In [44]:
name=soup.find_all('a', class_='a-link-normal a-text-normal')
Mobile=[]
for i in name:
    Mobile.append(i.text.strip())
price=soup.find_all('span',class_='a-price-whole')
Price=[]
for i in price:
    Price.append(i.text.strip())
rating=soup.find_all('span',class_='a-icon-alt')
Rating=[]
for i in rating:
    Rating.append(i.text.strip())
image=soup.find_all('img',class_='s-image')
url=[]
for i in image:
    url.append(i.get('srcset'))

In [50]:
Amazon_Mobile=pd.DataFrame()
Amazon_Mobile['Mobile']=Mobile[0:10]
Amazon_Mobile['Price']=Price[0:10]
Amazon_Mobile['Rating']=Rating[0:10]
Amazon_Mobile['Image']=url[0:10]
Amazon_Mobile

,Mobile,Price,Rating,Image
0,"Redmi Note 10 (Aqua Green, 4GB RAM, 64GB Storage)","12,499",4.0 out of 5 stars,https://m.media-amazon.com/images/I/71OGzLCrjZ...
1,"Redmi Note 10 (Shadow Black, 4GB RAM, 64GB Sto...","12,499",4.0 out of 5 stars,https://m.media-amazon.com/images/I/71QY6JV6Fh...
2,"Redmi Note 9 (Arctic White, 4GB RAM, 64GB Stor...","10,999",4.3 out of 5 stars,https://m.media-amazon.com/images/I/71X5I1cVfb...
3,"Redmi Note 10 (Aqua Green, 6GB RAM, 128GB Stor...","14,499",4.0 out of 5 stars,https://m.media-amazon.com/images/I/71-BcSc9rh...
4,"Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storag...","10,999",4.3 out of 5 stars,https://m.media-amazon.com/images/I/71X5I1cVfb...
5,"Redmi Note 10 (Shadow Black, 6GB RAM, 128GB St...","14,499",4.0 out of 5 stars,https://m.media-amazon.com/images/I/715t-uJnjM...
6,"Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB...","14,999",4.3 out of 5 stars,https://m.media-amazon.com/images/I/71-Su4Wr0H...
7,"Oppo A31 (Fantasy White, 6GB RAM, 128GB Storag...","10,990",4.2 out of 5 stars,https://m.media-amazon.com/images/I/61IhTtJUXJ...
8,"Redmi 9 Power (Blazing Blue, 4GB RAM, 64GB Sto...","10,499",4.2 out of 5 stars,https://m.media-amazon.com/images/I/71hEzQGO5q...
9,"Oppo A31 (Mystery Black, 6GB RAM, 128GB Storag...","10,990",4.2 out of 5 stars,https://m.media-amazon.com/images/I/71KCwNV6Mu...

#### 8. Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description.

In [56]:
page=requests.get('https://weather.com/en-IN/weather/tenday/l/69bedc6a5b6e977993fb3e5344e3c06d8bc36a1fb6754c3ddfb5310a3c6d6c87')
page

In [57]:
soup=BeautifulSoup(page.content)

In [66]:
Period=soup.find_all('h2',class_='DetailsSummary--daypartName--1Mebr')
Day=[]
for i in Period:
    Day.append(i.text.strip())

Desc=soup.find_all('span',class_='DetailsSummary--extendedData--aaFeV')    
Description=[]
for i in Desc:
    Description.append(i.text.strip())

Temp=soup.find_all('div',class_='DetailsSummary--temperature--3FMlw') 
Temperature=[]
for i in Temp:
    Temperature.append(i.text.strip())

In [67]:
Forecast=pd.DataFrame()
Forecast['Day']=Day[1:7]
Forecast['Description']=Description[1:7]
Forecast['Temperature']=Temperature[1:7]

Forecast

      Day         Description Temperature
0  Mon 31               Sunny     19°/11°
1  Tue 01       Partly Cloudy     14°/10°
2  Wed 02  AM Clouds / PM Sun     14°/10°
3  Thu 03       Partly Cloudy     15°/10°
4  Fri 04       Partly Cloudy     16°/10°
5  Sat 05               Sunny     17°/10°

#### 9.  Write a python program to scrape fresher job listings from ‘https://internshala.com/’. It should include job title, company name, CTC, and apply date

In [80]:
page=requests.get('https://internshala.com/fresher-jobs')
page

In [81]:
soup=BeautifulSoup(page.content)

In [88]:
title=soup.find_all('div',class_='heading_4_5 profile')
Position=[]
for i in title:
    Position.append(i.text.strip())
    
comp=soup.find_all('div',class_='heading_6 company_name')
Company=[]
for i in comp:
    Company.append(i.text.strip())
    
Ctc=soup.find_all('div',class_='item_body')
Salary=[]
Date=[]
temp=[]
for i in Ctc:
    temp.append(i.text.strip())
for i in temp:
    if 'LPA' in i:
        Salary.append(i)
    elif '21' in i:
        Date.append(i)

In [89]:
Job=pd.DataFrame()
Job['Position']=Position[0:10]
Job['Company']=Company[0:10]
Job['Salary']=Salary[0:10]
Job['Date']=Date[0:10]

Job

,Position,Company,Salary,Date
0,Food Journalist,Truffle Nation,3 - 4.5 LPA,30 Jun' 21
1,Junior Software Developer,Habitate Technologies Private Limited,5.2 - 7 LPA,30 Jun' 21
2,Full Stack Developer,SoluLab,3 - 5 LPA,28 Jun' 21
3,Business Analyst,SoluLab,3 - 4.2 LPA,28 Jun' 21
4,Associate Full Stack Developer,REPOZITORY TECHNOLOGIES PRIVATE LIMITED,3 - 3.6 LPA,28 Jun' 21
5,Full Stack Engineer,Beehive Academy India,4.2 - 8.2 LPA,28 Jun' 21
6,Product Marketer,Bip,3 - 6 LPA,27 Jun' 21
7,Business Development Executive,Tabeazy,3 LPA,27 Jun' 21
8,Associate - Business Development,Leverage Edu,3.6 LPA,27 Jun' 21
9,Research Analyst (Economics),DEX-DEFT Research And Consulting OPC Private L...,3 LPA,27 Jun' 21