#### 1. Scrape the details of most viewed videos on YouTube from Wikipedia: Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/ You need to find following details: A) Rank B) Name C) Artist D) Upload date E) Views

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from selenium.common.exceptions import NoSuchElementException,TimeoutException

In [2]:
driver = webdriver.Firefox()

In [3]:
url="https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"
driver.get(url)

In [5]:
Rank=[]
rank=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[1]")
for i in rank:
    Rank.append(i.text)

In [7]:
Name=[]
name=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[2]")
for i in name:
    Name.append(i.text)

In [8]:
Artist=[]
artist=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[3]")
for i in artist:
    Artist.append(i.text)

In [9]:
Views=[]
view=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[4]")
for i in view:
    Views.append(i.text)

In [10]:
Date=[]
date=driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']/tbody/tr/td[5]")
for i in date:
    Date.append(i.text)

In [13]:
Wiki=pd.DataFrame()
Wiki['Rank']=Rank
Wiki['Name']=Name
Wiki['Artist']=Artist
Wiki['Views(billions)']=Views
Wiki['Date']=Date
Wiki[0:10]

,Rank,Name,Artist,Views(billions),Date
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,8.91,"June 17, 2016"
1,2.,"""Despacito""[24]",Luis Fonsi,7.43,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,5.53,"October 8, 2016"
3,4.,"""Shape of You""[26]",Ed Sheeran,5.37,"January 30, 2017"
4,5.,"""See You Again""[27]",Wiz Khalifa,5.16,"April 6, 2015"
5,6.,"""Masha and the Bear – Recipe for Disaster""[30]",Get Movies,4.44,"January 31, 2012"
6,7.,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,4.26,"May 2, 2018"
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,4.22,"February 27, 2018"
8,9.,"""Uptown Funk""[33]",Mark Ronson,4.22,"November 19, 2014"
9,10.,"""Gangnam Style""[34]",Psy,4.11,"July 15, 2012"

#### 2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/. You need to find following details: A) Match title (I.e. 1st ODI) B) Series C) Place D) Date E) Time

In [17]:
driver = webdriver.Firefox()

In [18]:
url="https://www.bcci.tv/"
driver.get(url)

In [19]:
from selenium.webdriver.common.action_chains import ActionChains
a = ActionChains(driver)
int=driver.find_element_by_xpath("//ul[@class='navigation__list showMoreEnabled']/li[1]/div[1]")
a.move_to_element(int).perform()

In [20]:
fixture=driver.find_element_by_xpath("//ul[@class='navigation__list showMoreEnabled']/li[1]/div[2]/div[1]/ul/li[1]/a")
fixture.click()

In [38]:
Match_Title=[]
title=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/strong")
for i in title:
    Match_Title.append(i.text)

Series=[]
series=driver.find_elements_by_xpath("//div[@class='fixture__format-strip']/span[2]")
for i in series:
    Series.append(i.text)
    
Place=[]
place=driver.find_elements_by_xpath("//p[@class='fixture__additional-info']/span")
for i in place:
    Place.append(i.text)
    
Date=[]
date=driver.find_elements_by_xpath("//div[@class='fixture__full-date']/span")
for i in date:
    Date.append(i.text)
Month=[]    
month=driver.find_elements_by_xpath("//div[@class='fixture__date-details']/span[1]")
for i in month:
    Month.append(i.text)
Final_Date=[] 
for i in range(len(Date)):
    Final_Date=Date[i] +" "+ Month[i]
        
Time=[]
time=driver.find_elements_by_xpath("//div[@class='fixture__date-details']/span[2]")
for i in time:
    Time.append(i.text)

In [39]:
Match=pd.DataFrame()
Match['Title']=Match_Title
Match['Series']=Series
Match['Place']=Place
Match['Date']=Final_Date
Match['Time']=Time
Match

,Title,Series,Place,Date,Time
0,1st ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",10 SEPTEMBER,14:30 IST
1,2nd ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",10 SEPTEMBER,14:30 IST
2,3rd ODI,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",10 SEPTEMBER,14:30 IST
3,1st T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",10 SEPTEMBER,19:00 IST
4,2nd T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",10 SEPTEMBER,19:00 IST
5,3rd T20I,SRI LANKA V INDIA 2021,"R Premadasa Stadium, Colombo",10 SEPTEMBER,19:00 IST
6,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",10 SEPTEMBER,15:30 IST
7,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",10 SEPTEMBER,15:30 IST
8,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",10 SEPTEMBER,15:30 IST
9,4th Test,ENGLAND V INDIA 2021,"The Oval, London",10 SEPTEMBER,15:30 IST
10,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10 SEPTEMBER,15:30 IST

#### 3. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/ You need to find following details: A) Name B) Description Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [40]:
driver=webdriver.Firefox()

In [41]:
url="https://www.guru99.com/"
driver.get(url)

In [46]:
search=driver.find_element_by_xpath("//button[@class='gsc-search-button gsc-search-button-v2']").click()

In [48]:
s=driver.find_element_by_id("gsc-i-id1").send_keys("Selenium Exceptions",Keys.ENTER)

In [49]:
url=driver.find_element_by_xpath("//div[@class='gsc-results-wrapper-overlay gsc-results-wrapper-visible']/div[6]/div[2]/div/div/div[2]/div[1]/div[1]/div[1]/div/a").get_attribute('href')

In [50]:
driver.get(url)

In [55]:
Name=[]
for i in range(2,43):
    name=driver.find_element_by_xpath("//table[@class='table table-striped']/tbody/tr["+str(i)+"]/td[1]")
    Name.append(name.text)
Note=[]
for i in range(2,43):
    note=driver.find_element_by_xpath("//table[@class='table table-striped']/tbody/tr["+str(i)+"]/td[2]")
    Note.append(note.text)

In [57]:
Guru=pd.DataFrame()
Guru['Exception']=Name
Guru['Description']=Note
Guru

,Exception,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

#### 4. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/ You have to find following details: A) Rank B) State C) GSDP at current price (19-20) D) GSDP at current price (18-19) E) Share(18-19) F)GDP($billion)

In [58]:
driver=webdriver.Firefox()

In [60]:
url="https://statisticstimes.com/"
driver.get(url)

In [62]:
from selenium.webdriver.common.action_chains import ActionChains
a = ActionChains(driver)
economy=driver.find_element_by_xpath("//div[@class='navbar']/div[2]/button")
a.move_to_element(economy).perform()

In [65]:
ind=driver.find_element_by_xpath("//div[@class='navbar']/div[2]/div/a[3]").get_attribute("href")
driver.get(ind)

In [66]:
state=driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']/li[1]/a").get_attribute('href')
driver.get(state)

In [68]:
Rank=[]
rank=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[1]")
for i in rank:
    Rank.append(i.text)
State=[]
state=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[2]")
for i in state:
    State.append(i.text)
GSDP1920=[]
gsdp1920=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[3]")
for i in gsdp1920:
    GSDP1920.append(i.text)
GSDP1819=[]
gsdp1819=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[4]")
for i in gsdp1819:
    GSDP1819.append(i.text)
Share=[]
share=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[5]")
for i in share:
    Share.append(i.text)
GDP=[]
gdp=driver.find_elements_by_xpath("//div[@id='table_id_wrapper']/table/tbody/tr/td[6]")
for i in gdp:
    GDP.append(i.text)

In [70]:
economy=pd.DataFrame()
economy['Rank']=Rank
economy['State']=State
economy['GSDP(19-20)']=GSDP1920
economy['GSDP(18-19)']=GSDP1819
economy['Share']=Share
economy['GDP($billion)']=GDP
economy

,Rank,State,GSDP(19-20),GSDP(18-19),Share,GDP($billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

#### 5. Scrape the details of trending repositories on Github.com. Url = https://github.com/ You have to find the following details: A) Repository title B) Repository description C) Contributors count D) Language used

In [71]:
driver=webdriver.Firefox()

In [72]:
url="https://github.com/"
driver.get(url)

In [73]:
a = ActionChains(driver)
explore=driver.find_element_by_xpath("//ul[@class='d-lg-flex list-style-none']/li[4]/details/summary")
a.move_to_element(explore).perform()

In [ ]:
trending=driver.find_element_by_xpath("//div[@class='dropdown-menu flex-auto rounded px-0 pt-2 pb-0 mt-0 pb-4 p-lg-4 position-relative position-lg-absolute left-0 left-lg-n4']/ul[2]/li[3]/a").get_attribute("href")
driver.get(trending)

In [76]:
urls=[]
url=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
for i in url:
    urls.append(i.get_attribute('href'))

In [79]:
Title=[]
title=driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a")
for i in title:
    Title.append(i.text)
Description=[]
desc=driver.find_elements_by_xpath("//article[@class='Box-row']/p")
for i in desc:
    Description.append(i.text)

In [110]:
Contributors=[]
Language=[]
for i in urls:
    driver.get(i)
    try:
        contri=driver.find_element_by_xpath("//a[contains(text(), 'Contributors')]/span")
        Contributors.append(contri.text)
    except:
        Contributors.append('-')
    try:
        lang=driver.find_element_by_xpath("//span[@class='color-text-primary text-bold mr-1']")
        Language.append(lang.text)
    except:
        Language.append('-')

In [111]:
github=pd.DataFrame()
github['Name']=Title
github['Description']=Description
github['Contributors']=Contributors
github['Language']=Language
github

,Name,Description,Contributors,Language
0,trekhleb / javascript-algorithms,Algorithms and data structures implemented in ...,143,JavaScript
1,swisskyrepo / PayloadsAllTheThings,A list of useful payloads and bypass for Web A...,152,Python
2,microsoft / IoT-For-Beginners,"12 Weeks, 24 Lessons, IoT for All!",24,C++
3,30-seconds / 30-seconds-of-code,Short JavaScript code snippets for all your de...,258,JavaScript
4,laynH / Anime-Girls-Holding-Programming-Books,Anime Girls Holding Programming Books,117,-
5,airbnb / javascript,JavaScript Style Guide,475,JavaScript
6,ocornut / imgui,Dear ImGui: Bloat-free Graphical User interfac...,253,C++
7,shufflewzc / faker2,不知名大佬备份,-,JavaScript
8,elsewhencode / project-guidelines,A set of best practices for JavaScript projects,72,JavaScript
9,ryanmcdermott / clean-code-javascript,Clean Code concepts adapted for JavaScript,109,JavaScript
10,lydiahallie / javascript-questions,A long list of (advanced) JavaScript questions...,160,-
11,goldbergyoni / nodebestpractices,The Node.js best practices list (June 2021),196,JavaScript
12,sorrycc / awesome-javascript,A collection of awesome browser-side JavaScrip...,267,-
13,chefyuan / algorithm-base,专门为刚开始刷题的同学准备的算法基地，没有最细只有更细，立志用动画将晦涩难懂的算法说的通俗易懂！,6,Java
14,donnemartin / system-design-primer,Learn how to design large-scale systems. Prep ...,110,Python
15,nikolaydubina / go-recipes,Handy commands to run in Go projects,3,-
16,CaffeineMC / sodium-fabric,A Fabric mod designed to improve frame rates a...,27,Java
17,EbookFoundation / free-programming-books,Freely available programming books,"1,626",-
18,rosinality / alias-free-gan-pytorch,Unofficial implementation of Alias-Free Genera...,2,Python
19,jklepatch / eattheblocks,"Source code for Eat The Blocks, a screencast f...",6,JavaScript
20,TheAlphamerc / flutter_ecommerce_app,E-Commerce App built in flutter,3,Dart
21,ytdl-org / youtube-dl,Command-line program to download videos from Y...,768,Python
22,topjohnwu / Magisk,The Magic Mask for Android,212,C++
23,godotengine / godot,Godot Engine – Multi-platform 2D and 3D game e...,"1,446",C++
24,austinsonger / Incident-Playbook,GOAL: Incident Response Playbooks Mapped to MI...,3,Python

#### 6. Scrape the details of top 100 songs on billboard.com. Url = https://www.billboard.com/ You have to find the following details: A) Song name B) Artist name C) Last week rank D) Peak rank E) Weeks on board

In [112]:
driver=webdriver.Firefox()

In [113]:
url="https://www.billboard.com/"
driver.get(url)

In [115]:
a = ActionChains(driver)
charts=driver.find_element_by_xpath("//div[@id='root']/div[2]/div[2]/header/div/ul/li[1]/a")
a.move_to_element(charts).perform()

In [116]:
hot100=driver.find_element_by_xpath("//a[contains(text(), 'Hot 100')]").get_attribute('href')

In [117]:
driver.get(hot100)

In [118]:
Song=[]
song=driver.find_elements_by_xpath("//span[@class='chart-element__information__song text--truncate color--primary']")
for i in song:
    Song.append(i.text)
Artist=[]
artist=driver.find_elements_by_xpath("//span[@class='chart-element__information__artist text--truncate color--secondary']")
for i in artist:
    Artist.append(i.text)
Last=[]
last=driver.find_elements_by_xpath("//div[@class='chart-element__metas chart-element__metas--large display--flex flex--y-center']/div[1]")
for i in last:
    Last.append(i.text)
Peak=[]
peak=driver.find_elements_by_xpath("//div[@class='chart-element__metas chart-element__metas--large display--flex flex--y-center']/div[2]")
for i in peak:
    Peak.append(i.text)
Week=[]
week=driver.find_elements_by_xpath("//div[@class='chart-element__metas chart-element__metas--large display--flex flex--y-center']/div[3]")
for i in week:
    Week.append(i.text)

In [119]:
Top100=pd.DataFrame()
Top100['Song']=Song
Top100['Artist']=Artist
Top100['Last Week']=Last
Top100['Peak']=Peak
Top100['Weeks on Chart']=Week
Top100

,Song,Artist,Last Week,Peak,Weeks on Chart
0,Butter,BTS,1,1,7
1,Good 4 U,Olivia Rodrigo,,2,1
2,Levitating,Dua Lipa Featuring DaBaby,4,2,40
3,Kiss Me More,Doja Cat Featuring SZA,3,3,13
4,Montero (Call Me By Your Name),Lil Nas X,,8,1
...,...,...,...,...,...
95,All I Know So Far,P!nk,,-,74
96,What's Next,Drake,,-,1
97,Enough For You,Olivia Rodrigo,,-,14
98,Juggernaut,"Tyler, The Creator Featuring Lil Uzi Vert & Ph...",40,40,2
99,Tell Em,Cochise & $NOT,,-,64

#### 7. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/ You have to find the following details: A) Name B) Designation C) Company D) Skills they hire for E) Location

In [120]:
driver=webdriver.Firefox()

In [121]:
url="https://www.naukri.com/"
driver.get(url)

In [122]:
recruiter=driver.find_element_by_xpath("//a[@title='Search Recruiters']").get_attribute("href")
driver.get(recruiter)

In [123]:
search=driver.find_element_by_xpath("//div[@class='sWrap lftBrd']/div[2]/input").send_keys("Data Science")

In [124]:
button=driver.find_element_by_id("qsbFormBtn").click()

In [132]:
Name=[]
name=driver.find_elements_by_xpath("//span[@class='fl ellipsis']")
for i in name:
    Name.append(i.text)
Designation=[]
designation=driver.find_elements_by_xpath("//span[@class='ellipsis clr']")
for i in designation:
    Designation.append(i.text)
Company=[]
comp=driver.find_elements_by_xpath("//div[@class='vcard']/p/a[2]")
for i in comp:
    Company.append(i.text)
Skills=[]
skills=driver.find_elements_by_xpath("//div[@class='hireSec highlightable']")
for i in skills:
    Skills.append(i.text)
Location=[]
loc=driver.find_elements_by_xpath("//div[@class='vcard']/p/span[2]")
for i in loc:
    Location.append(i.text)

In [134]:
Naukri=pd.DataFrame()
Naukri['Name']=Name[0:10]
Naukri['Designation']=Designation[0:10]
Naukri['Company']=Company[0:10]
Naukri['Skills']=Skills[0:10]
Naukri['Location']=Location[0:10]
Naukri[0:10]

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore

#### 8. Scrape the details of Highest selling novels. Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/ You have to find the following details: A) Book name B) Author name C) Volumes sold D) Publisher E) Genre

In [135]:
driver=webdriver.Firefox()

In [136]:
url="https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/"
driver.get(url)

In [149]:
Name=[]
Author=[]
Volume_Sold=[]
Publisher=[]
Genre=[]
for i in range(0,100):
    name=driver.find_element_by_id("table-cell-10943-"+str(i)+"-1")
    Name.append(name.text)
    author=driver.find_element_by_id("table-cell-10943-"+str(i)+"-2")
    Author.append(author.text)
    volume=driver.find_element_by_id("table-cell-10943-"+str(i)+"-3")
    Volume_Sold.append(volume.text)
    publisher=driver.find_element_by_id("table-cell-10943-"+str(i)+"-4")
    Publisher.append(publisher.text)
    genre=driver.find_element_by_id("table-cell-10943-"+str(i)+"-5")
    Genre.append(genre.text)

In [150]:
Book=pd.DataFrame()
Book['Name']=Name
Book['Author']=Author
Book['Volume Sold']=Volume_Sold
Book['Publisher']=Publisher
Book['Genre']=Genre
Book

,Name,Author,Volume Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

#### 9. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/ You have to find the following details: A) Name B) Year span C) Genre D) Run time E) Ratings F) Votes

In [151]:
driver=webdriver.Firefox()

In [152]:
url="https://www.imdb.com/list/ls095964455/"
driver.get(url)

In [157]:
Name=[]
name=driver.find_elements_by_xpath("//h3[@class='lister-item-header']/a")
for i in name:
    Name.append(i.text)
Year=[]
year=driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']")
for i in year:
    Year.append(i.text)
Genre=[]
genre=driver.find_elements_by_xpath("//span[@class='genre']")
for i in genre:
    Genre.append(i.text)
Duration=[] 
duration=driver.find_elements_by_xpath("//span[@class='runtime']")
for i in duration:
    Duration.append(i.text)
Rating=[]
rating=driver.find_elements_by_xpath("//div[@class='ipl-rating-widget']/div/span[2]")
for i in rating:
    Rating.append(i.text)
Votes=[]
votes=driver.find_elements_by_xpath("//span[@name='nv']")
for i in votes:
    Votes.append(i.text)

In [158]:
Imdb=pd.DataFrame()
Imdb['Name']=Name
Imdb['Year']=Year
Imdb['Genre']=Genre
Imdb['Duration']=Duration
Imdb['Rating']=Rating
Imdb['Votes']=Votes
Imdb

,Name,Year,Genre,Duration,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,834,836"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"873,611"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"879,040"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"264,136"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"225,662"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"44,778"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,385"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"169,488"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"35,114"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"193,270"

#### 10. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/ You have to find the following details: A) Dataset name B) Data type C) Task D) Attribute type E) No of instances F) No of attribute G) Year

In [159]:
driver=webdriver.Firefox()

In [160]:
url="https://archive.ics.uci.edu/"
driver.get(url)

In [161]:
all=driver.find_element_by_xpath("//a[contains(text(), 'view all data sets')]").get_attribute('href')
driver.get(all)

In [173]:
Dataset=[]
DataType=[]
Task=[]
Attribute=[]
Instances=[]
Nattribute=[]
Year=[]
for i in range(2,590):
    data=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr["+str(i)+"]/td[1]/table/tbody/tr/td[2]/p/b/a")
    for j in data:
        Dataset.append(j.text)
    type=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr["+str(i)+"]/td[2]/p")    
    for j in type:
        DataType.append(j.text)
    task=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr["+str(i)+"]/td[3]/p")    
    for j in task:
        Task.append(j.text)
    attribute=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr["+str(i)+"]/td[4]/p")
    for j in attribute:
        Attribute.append(j.text)
    instances=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr["+str(i)+"]/td[5]/p")
    for j in instances:
        Instances.append(j.text)
    nattribute=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr["+str(i)+"]/td[6]/p")
    for j in nattribute:
        Nattribute.append(j.text)
    year=driver.find_elements_by_xpath("/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr["+str(i)+"]/td[7]/p")
    for j in year:
        Year.append(j.text)

In [174]:
UCI=pd.DataFrame()
UCI['DataSet']=Dataset
UCI['Data Types']=DataType
UCI['Task']=Task
UCI['Attribute Types']=Attribute
UCI['# Instances']=Instances
UCI['# Attributes']=Nattribute
UCI['Year']=Year
UCI

,DataSet,Data Types,Task,Attribute Types,# Instances,# Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021